{{define "leaderboard"}}
<!DOCTYPE html>
<html>
{{template "head" . }}
<body class="white">
    <div class="container-fluid">
        <div class="inner__wrap">
            <div class="row content">
                <div class="col-sm-12">
                    <h1>Leaderboard</h1>
                    <table class="table">
                      <thead>
                        <tr>
                          <th>GitHub Username</th>
                          <th>Pull Requests Merged</th>
                        </tr>
                      </thead>
                      <tbody>
                        {{ range $index, $value := .Props.Rankings }}
                        <tr>
                          <td><a href="https://github.com/{{$value.Username}}" target="_blank">{{$value.Username}}</a></td>
                          <td>{{$value.Points}}</td>
                        </tr>
                        {{ end }}
                      </tbody>
                    </table>
                </div>
                <div class="footer-push"></div>
            </div>
            <div class="row footer">
                {{template "footer" . }}
            </div>
        </div>
    </div>
</body>
</html>
{{end}}
